
# Editor settings
.vscode/
.vs/

# Build
obj/
bin/

# Log files
*.log

# Development app settings can contain secrets
appsettings.Development.json

# Do not store inputs to git
input.txt
input_original.txt
